.container{
    width: 590px;
    height: 700px;
    margin: auto;
    margin-top: 25px;
    border-radius: 12px;
    background-image: linear-gradient(
        180deg,
        hsl(240deg 88% 25%) 0%,
        hsl(247deg 80% 34%) 20%,
        hsl(249deg 77% 41%) 29%,
        hsl(250deg 76% 46%) 36%,
        hsl(251deg 79% 51%) 43%,
        hsl(251deg 95% 56%) 50%,
        hsl(251deg 80% 52%) 57%,
        hsl(252deg 77% 47%) 64%,
        hsl(253deg 78% 41%) 71%,
        hsl(254deg 82% 35%) 80%,
        hsl(259deg 97% 27%) 100%
      );
    
    }
.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
}
.top-bar input{
    display: flex;
    width: 362px;
    height: 78px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    width: 78px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}
.weather-image{
    margin-top: 29px;
    display: flex;
    justify-content: center;
}
.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
}
.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
}
.data-container{
    margin-top: 50px;
    color: white;
    display: flex;
}
.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}   
.data{
    font-size: 34px;
    font-weight: 400;
}
.text{
    font-size: 20px;
    font-weight: 400;
}
.icon{
    margin-top: 10px;
}